<h2>@ViewData["Title"].</h2>
<p>Overzicht van alle bestellingen. Klik op goedkeuren om een bestelling door te zetten naar het magazijn.</p>
 
<div class="row">
    <div class="col-md-4">
        <h4>Bestelling</h4>
    </div>
    <div class="col-md-4">
        <h4>Klant</h4>
    </div>
    <div class="col-md-4">
        <h4>Goedkeuren</h4>
        <button>Goedkeuren</button>
        <button>Afkeuren</button>
    </div>
</div>
