<h2>@ViewData["Title"].</h2>
<p>Overzicht van alle bestellingen. Klik op de bestelling af te ronden wanneer een bestelling is verstuurd.</p>
 
<div class="row">
    <div class="col-md-4">
        <h4>Bestelling</h4>
    </div>
    <div class="col-md-4">
        <h4>Klant</h4>
    </div>
    <div class="col-md-4">
        <h4>Afronden</h4>
        <button>Afronden</button>
    </div>
</div>
