<main>
   <!-- Angular forms lijkt niet meer te werken, daarom maar met ngModel... Zie ook : https://github.com/AngularClass/angular2-webpack-starter/issues/1399 voor een soortgelijke fout-->
  
    <div *ngIf="message" class="{{statusclass}}">
      <strong>Gelukt:</strong>
      <span class="statusclass">{{message}}</span>
  </div>
  <section id="bestellingAfronden" *ngIf="!message">
    <h2>Bestelling afronden</h2>
    <p>
      Om de bestelling af te ronden dient u de onderstaande gegevens in te voeren.
    </p>
    <form (submit)="bestellingAfronden()" id="addPersonForm">
      <div class="form-group">
        <label class="col-form-label">Voornaam:</label>
        <input placeholder="Voornaam" class="form-control" [(ngModel)]="klant.voornaam" name="voornaam">
      </div>
      <div class="form-group">
        <label class="col-form-label">Achternaam:</label>
        <input placeholder="Achternaam" class="form-control" [(ngModel)]="klant.achternaam" name="achternaam">
      </div>
      <div class="form-group">
        <label class="col-form-label">Straatnaam en huisnummer:</label>
        <input placeholder="Biltstraat 1" class="form-control" [(ngModel)]="klant.adres" name="adres">
      </div>
      <div class="form-group">
        <label class="col-form-label">Plaatsnaam:</label>
        <input placeholder="Utrecht" class="form-control" [(ngModel)]="klant.plaatsnaam" name="adres">
      </div>
      <div class="form-group">
        <label class="col-form-label">Postcode:</label>
        <input placeholder="3512AA" class="form-control" [(ngModel)]="klant.postcode" name="postcode">
      </div>
      <div class="form-group">
        <label class="col-form-label">Telefoonnummer:</label>
        <input placeholder="0642878830" type="number" class="form-control" [(ngModel)]="klant.telefoonnummer" name="telefoonnummer">
      </div>
      <div class="form-group">
        <label class="col-form-label">E-mailadres:</label>
        <input placeholder="voornaam@live.com" type="email" class="form-control" [(ngModel)]="klant.email" name="email">
      </div>
      <button class="btn btn-primary">Bestelling afronden</button>
    </form>
  </section>
</main>