<main>
  <section id="bestellingAfronden">
    <h2>Bestelling afronden</h2>
    <p>
      Om de bestelling af te ronden dient u de onderstaande gegevens in te voeren.
    </p>
    <form (submit)="addPerson()"id="addPersonForm">
      <div class="form-group">
        <label class="col-form-label">Voornaam:</label>
        <input placeholder="Voornaam" class="form-control">
      </div>
      <div class="form-group">
        <label class="col-form-label">Achternaam:</label>
        <input placeholder="Achternaam" class="form-control">
      </div>
      <div class="form-group">
        <label class="col-form-label">Straat:</label>
        <input placeholder="Biltstraat" class="form-control">
      </div>
      <div class="form-group">
        <label class="col-form-label">Postcode:</label>
        <input placeholder="3512AA" class="form-control">
      </div>
      <div class="form-group">
        <label class="col-form-label">Telefoonnummer:</label>
        <input placeholder="0642878830" type="tel" class="form-control">
      </div>
      <div class="form-group row">
        <label for="example-number-input">Huisnummer:</label>
        <input class="form-control" type="number" placeholder="Huisnummer">
      </div>
      <div class="form-group">
        <label class="col-form-label">E-mailadres:</label>
        <input placeholder="voornaam@live.com" type="email" class="form-control">
      </div>
      <button [disabled]="" class="btn btn-primary">Bestelling afronden</button>
    </form>
  </section>
</main>