<section id="sidebar" class="">
    <nav>
      <ul>
        <li><a href="">Catalogus item 1</a></li>
        <li><a href="">Catalogus item 2</a></li>
         <li><a href="">Catalogus item 3</a></li>
      </ul>
    </nav>
</section>
<router-outlet onNewAmountProducts="onNewAmountProducts()"></router-outlet>
<section id="floatingHeader">
  <div>
    <span id="menu" (click)="ToggleSideNav()"></span>
    <span class="rightGroup">
      <a href="/winkelwagen"><span id="shoppingCar"></span><span>{{amountOfProducts}}</span></a>
      <span id="user"></span>
    </span>
  </div>
</section>

