/* You can add global styles to this file, and also import other style files */

/**********************************
 * General styling
 **********************************/

* {
    margin: 0;
    padding: 0;

    font-family: 'Calibri', sans-serif;
    font-weight: 300;
}

body
{
    background-color: #eee;
}
 
header {
    background-image: url('image/Kantilever 8 Banner.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 60%;
    color: #fff;
    height: 140px;
}

h1 {
    padding: 20px;
    z-index: 99;
    font-weight: 600;
    position: absolute;
    top: 70px;
}

main {
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    min-height: 1000px;
}

h2 {
    font-weight: 400;
}

/**********************************
 * Navigation, Shopping Car and LoginButton
 **********************************/

#floatingHeader {
    z-index: 66;
    display: block;
    width: 100%;
}

#floatingHeader div {
    vertical-align: top;
    position: fixed;
    top: 0px;
    width: 100%;
    color: white;
}

#floatingHeader .rightGroup {
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 0;
}

#floatingHeader #menu:before {
    display: inline-block;
    content: '';
    margin: 5px;
    width: 20px;
    height: 20px;
    background-image: url('svg/menuWhite.svg');

    /* create a new stacking context */
    position: absolute;
    z-index: 1;
}

#floatingHeader #menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid #2D398E 5px;
    border-radius: 100%;
    left: 0;
    margin: 10px;
    background-color: #2D398E;
}

#floatingHeader #menu:active:before,
#floatingHeader #menu:hover:before {
    background-image: url('svg/menuBlue.svg');
}

#floatingHeader #user:before {
    display: inline-block;
    content: '';
    margin: 5px;
    width: 20px;
    height: 20px;
    background-image: url('svg/userWhite.svg');
}

#floatingHeader #user {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid #2D398E 5px;
    border-radius: 100%;
    right: 0;
    margin: 10px;
    background-color: #2D398E;
}

#floatingHeader #shoppingCar:before {
    display: inline-block;
    content: '';
    margin: 5px;
    width: 20px;
    height: 20px;
    background-image: url('svg/shoppingCarWhite.svg');
}

#floatingHeader #shoppingCar {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid #2D398E 5px;
    border-radius: 100%;
    right: 0;
    margin: 10px;
    background-color: #2D398E;
}

#floatingHeader #user:active:before,
#floatingHeader #user:hover:before {
    background-image: url('svg/userBlue.svg');
}

#floatingHeader #shoppingCar:active:before,
#floatingHeader #shoppingCar:hover:before {
    background-image: url('svg/shoppingCarBlue.svg');
}

#floatingHeader #menu:active,
#floatingHeader #menu:hover,
#floatingHeader #shoppingCar:active,
#floatingHeader #shoppingCar:hover,
#floatingHeader #user:active,
#floatingHeader #user:hover {
    border-color: #2D398E;
    background-color: #ffffff;
}

#floatingHeader #menu:before:active
#floatingHeader #menu:before:hover,
#floatingHeader #shoppingCar:active:before,
#floatingHeader #shoppingCar:hover:before,
#floatingHeader #user:active:before,
#floatingHeader #user:hover:before {
    color: #2D398E;
}

main button{
    padding: 10px;
    border-radius: 5px;
}

button:hover, button:active, #floatingHeader span:hover, #floatingHeader span:active{
    cursor: pointer;
}

/*
#floatingHeader #shoppingCar:before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('svg/shoppingCarWhite.svg');
    right: 20px;
    bottom: 2px;

    position: absolute;
}

#floatingHeader a:hover #shoppingCar:before,
#floatingHeader a:active #shoppingCar:before {
    background-image: url('svg/shoppingCarBlack.svg');
}
#floatingHeader #shoppingCar {
    position: relative;
    color: black;
    display: inline-block;
    width:20px;
    height:20px;
    font-size: 10px;
    text-align: center;
    padding-left: 20px;
    top: 5px;
}
#floatingHeader a:hover #shoppingCar,
#floatingHeader a:active #shoppingCar {
    color: white;
    z-index: 80;
}

#floatingHeader #shoppingCar:after {
    content: '';
    display: inline-block;
    border: solid #fff 10px;
    width: 0;
    height: 0;
    padding: 0;
    border-radius: 100%;
    color: #2D398E;
    right: 0px;
    bottom: 3px;

    position: absolute;
    z-index: -1;
}
#floatingHeader a:hover #shoppingCar:after,
#floatingHeader a:active #shoppingCar:after {
    border-color: #2D398E;
}
*/
/**********************************
 * WIDESCREEN CORRECTIONS
 **********************************/

@media screen and (min-width: 760px) 
{
    header, #floatingHeader, main {
        position: relative;
        width: 720px;
        margin: auto;
    }

    /**********************************
    * Navigation Wide Screen
    **********************************/

    #floatingHeader div {
        width: 720px;
    }
    #floatingHeader nav ul {
        display: inline;
    }
    #floatingHeader nav ul:before {
        display: none;
    }
    #floatingHeader nav li, 
    #floatingHeader a {
        padding: 10px;
        color: #fff;
        display: inline-block;
    }
    #floatingHeader nav ul:hover li, 
    #floatingHeader nav ul:active li {
        display: inline-block;
        position: relative;
        top: 0px;
    }

    #floatingHeader #shoppingCar {
        top: -5px;
    }
}