/* You can add global styles to this file, and also import other style files */

/**********************************
 * General styling
 **********************************/

* {
    margin: 0;
    padding: 0;

    font-family: 'Calibri', sans-serif;
    font-weight: 300;
}

body
{
    background-color: #eee;
}
 
header {
    background-image: url('image/Kantilever 8 Banner.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 60%;
    color: #fff;
    height: 140px;
}

h1 {
    padding: 20px;
    font-weight: 600;
    position: absolute;
    top: 50px;
    visibility: hidden;
}

h1:before {
    content: '';
    display: inline-block;
    background-image: url('image/Kantilever 8b Logo Transparent.png');
    width: 200px;
    height: 60px;
    visibility: visible;
    background-repeat: no-repeat;
    background-size: auto 60px;
}

main {
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    min-height: 1000px;
}

h2 {
    font-weight: 400;
    margin: 0 0 10px 0;
}

main button, .messageBox a{
    padding: 10px;
    border-radius: 5px;
}

button:hover, button:active, #floatingHeader span:hover, #floatingHeader span:active, .messageBox a{
    cursor: pointer;
}

section{
    max-width: 100%;
}

/**********************************
 * Navigation, Shopping Car and LoginButton
 **********************************/

#floatingHeader {
    z-index: 66;
    display: block;
    width: 100%;
}

#floatingHeader div {
    vertical-align: top;
    position: fixed;
    top: 0px;
    width: 100%;
    color: white;
}

#floatingHeader .rightGroup {
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 0;
}

#floatingHeader #menu:before {
    display: inline-block;
    content: '';
    margin: 5px;
    width: 20px;
    height: 20px;
    background-image: url('svg/menuWhite.svg');

    /* create a new stacking context */
    position: absolute;
    z-index: 1;
}

#floatingHeader #menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid #ffffff 5px;
    border-radius: 100%;
    left: 0;
    margin: 10px;
    background-color: #2D398E;
}

#floatingHeader #menu:active:before,
#floatingHeader #menu:hover:before {
    background-image: url('svg/menuBlue.svg');
}

#floatingHeader #user:before {
    display: inline-block;
    content: '';
    margin: 5px;
    width: 20px;
    height: 20px;
    background-image: url('svg/userWhite.svg');
}

#floatingHeader #user {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid #ffffff 5px;
    border-radius: 100%;
    right: 0;
    margin: 10px;
    background-color: #2D398E;
}

#floatingHeader #shoppingCar:before {
    display: inline-block;
    content: '';
    margin: 5px;
    width: 20px;
    height: 20px;
    background-image: url('svg/shoppingCarWhite.svg');
}

#floatingHeader #shoppingCar {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid #ffffff 5px;
    border-radius: 100%;
    right: 0;
    margin: 10px;
    background-color: #2D398E;
}
#floatingHeader #amountArticles {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid #ffffff 5px;
    border-radius: 100%;
    right: 20px;
    margin: 0px;
    background-color: #2D398E;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    box-sizing: border-box;
}

#floatingHeader #shoppingCar:active + #amountArticles,
#floatingHeader #shoppingCar:hover + #amountArticles,
#floatingHeader #amountArticles:active,
#floatingHeader #amountArticles:hover {
    border-color: #2D398E;
    background-color: #fff;
    color: #2D398E;
}

#floatingHeader #user:active:before,
#floatingHeader #user:hover:before {
    background-image: url('svg/userBlue.svg');
}

#floatingHeader #shoppingCar:active:before,
#floatingHeader #shoppingCar:hover:before {
    background-image: url('svg/shoppingCarBlue.svg');
}

#floatingHeader #menu:active,
#floatingHeader #menu:hover,
#floatingHeader #shoppingCar:active,
#floatingHeader #shoppingCar:hover,
#floatingHeader #user:active,
#floatingHeader #user:hover {
    border-color: #2D398E;
    background-color: #ffffff;
}

#floatingHeader #menu:before:active
#floatingHeader #menu:before:hover,
#floatingHeader #shoppingCar:active:before,
#floatingHeader #shoppingCar:hover:before,
#floatingHeader #user:active:before,
#floatingHeader #user:hover:before {
    color: #2D398E;
}

table{
    display: block;
    width: 100%;
    overflow-x: auto;
    margin: 20px 0;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table>thead>tr>th{
    font-weight: bold;
}

table>tbody>tr:nth-child(odd){
    background: #f1f1f1;
}

table td, .table th {
    padding: .75rem;
}

.messageBox{
    background: #f1f1f1;
    padding: 3% 3% 5%;
    display: block;
    float: left;
    width: 94%;
}

.ErrorBox{
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.ErrorBox strong{
    font-weight: 800;
}

.SuccessBox{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.SuccessBox strong{
    font-weight: 800;
}

.ErrorBox.message, .SuccessBox.message{    
    white-space: pre-line;
}

#buyProduct button{
    margin: 20px 0;
}

button, .messageBox a{
    border-radius: 0px;
    background-color:#2D398E;
    border: 5px solid white;
    box-sizing: border-box;
    color: white;
    width: 100%;
    max-width: 150px;
}

button:hover, .messageBox a:hover{
    background-color: white;
    color:#2D398E;
    border-color: #2D398E;
}

/* Forms */

form{
    margin: 20px 0;
    max-width: 75%;
    border-radius: 5px;
    background: #f1f1f1;
    padding: 5%;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    width: 90%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
/**********************************
 * WIDESCREEN CORRECTIONS
 **********************************/

@media screen and (min-width: 760px) 
{
    header, #floatingHeader, main {
        position: relative;
        width: 720px;
        margin: auto;
    }

    /**********************************
    * Navigation Wide Screen
    **********************************/

    #floatingHeader div {
        width: 720px;
    }

    /**********************************
    * Header Wide Screen
    **********************************/

    header {
        background-image: url('/image/Kantilever 8 Banner.png');
        background-repeat: no-repeat;
        background-size: 720px auto;
    }

    h1:before {
        display: none;
    }
}

/**********************************
 * ICON AND IMAGE URL INSIDE VIEWS
 **********************************/
/* Placed here due the fact included url inside views are not hashed and the related imagesources are not distibuted */

#catalogus .addToCart:before {
    background-image: url('svg/shoppigCarAddWhite.svg');
}

#catalogus .addToCart:hover:before,
#catalogus .addToCart:active:before {
    background-image: url('svg/shoppigCarAddBlue.svg');
}