<main>
  <section id="catalogus">
    <h2>Catalogus</h2>
    <div *ngIf="error" class="ErrorBox">
        <strong>Foutmelding:</strong>
        <span class="message">{{error}}</span>
    </div>
    <ul>
      <li *ngFor='let artikel of artikelen'>
          <article (click)="goToProductPage(artikel.id)" >
            <h3>{{artikel.naam}}</h3>
            <span class="prijs" [ngClass]="{'prijs-small': artikel.prijs > 99 }">{{artikel.prijs | prijs}}</span>
            <img src="{{artikel.imagePath}}" />
            <p>{{artikel.beschrijving}}</p>
            <span class="addToCart" (click)="addProductToCart($event, artikel.id)"></span>
          </article>
      </li>
    </ul>
  </section>
</main>