<main>
  <section id="catalogus">
    <h2>Catalogus</h2>
      <a href="/product/2">
          <article>
              <h3>Fietsband</h3>
              <span class="euro">6,00</span>
              <img src="image/fietsband.jpg" />
              <p>voor 26" velg</p>
          </article>
          <article>
              <h3>Fietsband</h3>
              <span class="euro">5,50</span>
              <img src="image/fietsband.jpg" />
              <p>voor 24" velg</p>
          </article>
      </a>
</section>
</main>