#catalogus article {
    position: relative;
    background-color: #2D398E;
    padding: 20px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

#catalogus .euro:before {
    content: '\20AC';
    display: inline-block;
    text-align: center;
}

#catalogus .euro, .addToCart {
    position: absolute;
    border: solid #ffffff 5px;
    margin: 10px;
    border-radius: 100%;
    background-color: #2D398E;
    right: 0;
    text-align: center;
}

#catalogus .euro {
    top: 0;
    padding-top: 15px;
    width: 50px;
    height: 35px;
}

#catalogus .addToCart {
    bottom: 0;
    padding: 10px;
    width:30px;
    height:30px;
}

#catalogus .addToCart:hover
#catalogus .addToCart:active {
    background-color: #ffffff;
    border-color: #2D398E;
}

#catalogus .addToCart:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('svg/shoppigCarAddWhite.svg');
}

#catalogus .addToCart:hover:before
#catalogus .addToCart:active:before {
    background-image: url('svg/shoppigCarAddBlue.svg');
}

#catalogus img {
    width: 100%;
    height: auto;
}

#catalogus ul {
    list-style: none;
}

#catalogus article {
    box-sizing: border-box;
    width: 100%;
    min-height: 160px;
 }

/**********************************
 * WIDESCREEN CORRECTIONS
 **********************************/
@media screen and (min-width: 760px) 
{
    #catalogus img {
        width: auto;
        max-height: 100px;
    }

    section#catalogus ul {
        display: -webkit-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #catalogus article {
        width: 290px;
        box-sizing: content-box;
        min-height: 120px;
    }
}
