#productContainer, #pdInfo{
    margin: 0 0 10px;
}

header, main, nav, aside, footer, section {
  flex: 1 100%;
}

article{
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.pdTitle{
    margin-right: 5px;
}

img{
    width: 100%;
    height: auto;
    max-width: 75px;
    max-height: 75px;
}

#buyProduct{
    padding: 10px;
    background: #2D398E;
    color: #fff;
    margin: 0 0 20px 0;
}

#buyProduct button{
    margin: 20px 0;
}

ul{
    list-style: none;
}

@media screen and (min-width: 760px) {

    main{
        flex-flow: row wrap;
    }

    header, main, nav, aside, footer, section {
        flex: 1 auto;
    }

    #productDetails{
        width: 60%;
        margin-right: 5%;
    }

    aside{
        width :30%;
    }

    section{
        flex-flow: row wrap;
        display: flex;
        max-width: 100%;
    }
}