<main >
    <section id="detailPage">
        <div id="productDetails">
            <h2>Winkelwagen</h2>
            <div id="pdInfo">
                <span *ngIf="productPairs?.length>0">U heeft de volgende producten toegevoegd in de winkelwagen:</span>
                <span *ngIf="productPairs?.length==0">U winkelwagen is leeg.</span>
            </div>
            <div *ngIf="error" class="ErrorBox">
                <strong>Foutmelding:</strong>
                <span class="message">{{error}}</span>
            </div>
            <div *ngIf="productPairs?.length>0" id="productContainer">
                <ul>
                    <li *ngFor='let pp of productPairs'>
                        <article (click)="goToProductPage(pp.Artikel.id)">
                            <h3>{{pp.Artikel.naam}}</h3>
                            <span>Aantal: {{pp.Amount}}</span>
                            <span class="prijs">Prijs: {{pp.Artikel.prijs | prijs}}</span>
                            <img src="image/fietsband.jpg" />
                            <p>Beschrijving: {{pp.Artikel.beschrijving}}</p>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
        <aside>
            <div id="buyProduct">
                <h2>Kostenoverzicht</h2>
                <div id="prijs">
                    <span class="bpTitle">Totaal:</span>
                    <span>{{totalCosts | prijs}}</span>
                </div>
                <button>Bestellen</button>
            </div>
        </aside>
    </section>
</main>