<h2>@ViewData["Title"].</h2>
<p>Overzicht van alle openstaande facturen. Klik op goedkeuren zodra de factuur is betaald.</p>
 
<div class="row">
    <div class="col-md-4">
        <h4>Bestelling</h4>
    </div>
    <div class="col-md-4">
        <h4>Klant</h4>
    </div>
    <div class="col-md-4">
        <h4>Goedkeuren</h4>
        <button>Goedkeuren</button>
    </div>
</div>
