.productDetails{
    display: flex;
    margin: 10px 0;
    flex-flow: row wrap;
}

header, main, nav, aside, footer, article {
  flex: 1 100%;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-right: 10%;
}

#detailPage{
    display: flex;
    flex-flow: row wrap;
}

.productDetails dl {
    width: 100%;
}

.pdTitle, .pdInfo, .sbTitle, .bpTitle{
    font-weight: bold;
}

.pdTitle{
    margin-right: 5px;
}

img{
    width: 100%;
    height: auto;
}

.productDetails>div{
    width: 100%;
}

#buyProduct{
    padding: 10px;
    background: #2D398E;
    color: #fff;
    margin: 0 0 20px 0;
}

#buyProduct button{
    margin: 20px 0;
}

@media screen and (min-width: 760px) {

    .productDetails dd, productDetails dt {
        width: 40%;
    }

    main{
        flex-flow: row wrap;
    }

    header, main, nav, aside, footer, article {
        flex: 1 auto;
    }

    article{
        width: 60%;
    }

    aside{
        width :30%;
    }

    .productDetails{
         flex-flow: row wrap;
    }
}