.productDetails{
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.pdTitle, .pdInfo, .sbTitle{
    font-weight: bold;
}

.pdTitle{
    margin-right: 5px;
}

img{
    width: 100%;
    height: auto;
}