<main >
    <section id="detailPage">
        <article>
            <h2>{{artikel.naam}}</h2>
            <div class="pdImage">
            <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/6/6/4/0/9200000057890466.jpg">
            </div>
            <div class="pdInfo">
                <h2>Informatie:</h2>
                <span>{{artikel.beschrijving}}</span>
            </div>
            <div class="productDetails">
                <h2>Productdetails:</h2>
                <div id="leverancierdetail">
                    <span class="pdTitle">Leverancier:</span>
                    <span>{{artikel.leverancier}}</span>
                </div>
                <div id="beschikbaardetail">
                    <span class="pdTitle">Beschikbaar:</span>
                    <span>{{artikel.Voorraad}}</span>
                </div>
            </div>
        </article>
        <aside>
            <div id="buyProduct">
                <div id="prijs">
                    <span class="bpTitle">Prijs</span><br>
                    <span>{{artikel.prijs | prijs}}</span>
                </div>
                <div id="voorraad">
                    <span>Op voorraad. Voor 16:00 uur besteld, morgen in huis</span>
                </div>
                <button (click)="AddToShoppingCart()">{{addtoshoppingcarttext}}</button>
            </div>
            <div id="bekeken">
                <span class="sbTitle">Andere bekeken ook:</span>
                <div class="sidebarImage">
                    <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/6/5/8/4/9200000039744856.jpg">
                </div>
                <div class="sidebarImage">
                    <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/6/9/6/4/9200000057694696.jpg">
                </div>
            </div>
        </aside>
    </section>
</main>